<footer id="footer" class="" x-data="{search: ''}">
    <a
        id="show-info"
        class="toolbar-button"
        href="javascript:SongListToolbar.switchToState(SongListToolbar.states.Info)"
        >❓</a
    >
    <a
        id="all_songs"
        class="toolbar-button active"
        href="javascript:SongListToolbar.switchToState(SongListToolbar.states.AllSongs)"
        ><span>🌍</span></a
    >
    <a
        id="toggle_search"
        class="toolbar-button"
        href="javascript:SongListToolbar.switchToState(SongListToolbar.states.Search)"
        >🔍</a
    >
    <!-- <a
        id="show_qr"
        href="javascript:Toolbar.showQrOverlay()"
        class="toolbar-button "
        >QR</a
    > -->
    <a
        id="filter_played_songs"
        class="toolbar-button"
        href="javascript:SongListToolbar.switchToState(SongListToolbar.states.PlayedSongs)"
        >🏁</a
    >

    <a
        id="toggle_show_artists"
        class="toolbar-button"
        href="javascript:SongListToolbar.switchToState(SongListToolbar.states.ArtistList)"
        >🎺</a
    >

    <a
        id="show_slot_machine"
        class="toolbar-button"
        href="javascript:SongListToolbar.switchToState(SongListToolbar.states.SlotMachine)"
        >🌞</a
    >
    <!--   <a
        id="select_seven_random_songs"
        class="toolbar-button"
        href="javascript:SongListToolbar.switchToState(SongListToolbar.states.SevenRandomSongs)"
        >🍀</a
    >-->
    <div id="search_form" class="hidden bg-amber-400">
        <input
            id="search_input"
            type="text"
            name="search"
            enterkeyhint="search"
            placeholder="{% if is_admin %}You're in the army now!{% else %}Find my love ...{% endif %}"
            x-model="search"
            @input="SongListToolbar.setSearchFilter($event.target.value)"
            class="flex-auto p-0.5 border-amber-900 border-2"
        />
    </div>
</footer>
