{% extends "../base.html" %}
{% block mainClass %} song-list {% endblock %}
{% block title %} Songs {% endblock %} {% block
content %}
{{ "<scr" | safe }}{{ "ipt>" | safe}}
    window.addEventListener("alpine:init", () => {
      all_tags_by_name = {{ all_tags_by_name  | json | safe }};
      AllSongs.initialize({{ songs | json | safe }});
      StickySongList.init();
    });



{{ "</script>" | safe }}

<div id="bookmarked_container>" x-data="{songs: Bookmark.bookmarkedSongs()}">
    <template x-if="songs.length">
        <div id="bookmarked">
            <template x-for="song in songs" >
                <a :href="song.link"
                    :id="song.id"
                    class="listed-song"
                >
                    <div class="text"  style="w-full">
                        <div class="title" x-text='song.title'></div>
                        <div class="artist" x-text='song.artist'></div>
                    </div>
                    <div class="tags">
                        <span class="tag">💾</span>
                    </div>
                </a>
            </template>
        </div>
    </template>
</div>

<div id="which_category" class="hidden">
    Alle <span class="category"></span> Songs
</div>

<div id="songlist">

    {% for song in songs %}
    <a href="{{song.link}}"
        id="song-{{song.id}}"
        class="listed-song {% if song.played_at != "" %} already-played {% endif %} already-played "
        data-name="{{song.title.to_lowercase()}} -- {{song.artist.to_lowercase()}} "
        data-categories="{% for tag_sign in song.tag_signs %}|{{ tag_sign }}{% endfor %}|"
    >
        <div class="text" >
            <div class="title">{{song.title}}</div>
            <div class="artist">{{ song.artist }}</div>
            {% if song.played_at != "" %}
                <div class="played">(gespielt @{{ &song.played_at | time_from_timestamp }})</s>
            {% endif %}
        </div>
        <div class="tags">
            {% for tag_sign in song.tag_signs %}
                <span class="tag">{{ tag_sign }}</span>
            {% endfor %}
        </div>
    </a>
    {% endfor %}
</d>
{% include "_footer.html" %}
{% include "../overlays/module.html" %}
{% endblock content %}
