main.song-list {
    @apply bg-amber-300;
}
#songlist,
#bookmarked {
    @apply flex flex-row flex-wrap p-3;

    .listed-song {
        @apply block min-w-full;
        @apply bg-amber-100 shadow-amber-800/50 shadow-lg;
        @apply my-2 p-2 rounded-md;
        @apply md:whitespace-nowrap md:mx-3 md:min-w-fit;
        .text {
            @apply block;
            margin-right: 5.75em;
            border-right: 2px groove #fef3c6;
            padding-right: 0.5em;
            .title {
                @apply font-bold text-lg;
            }
            .artist {
                @apply text-amber-800 text-sm;
            }
            .played {
                @apply text-amber-800 font-mono text-sm;
            }
        }

        .tags {
            height: 100%;
            float: right;
            width: 5.25em;
            /* direction: rtl; */
            .tag {
                display: inline-block;
                margin-right: 0.25em;
                width: 1.5em;
                text-align: center;
            }
        }
    }
    .listed-song.hidden {
        display: none !important;
    }
}
div#songlist .listed-song .tags {
    @apply text-base;
}
#bookmarked {
    @apply bg-amber-600 rounded-b-lg shadow-amber-800/50 shadow-lg;

    .listed-song {
        .text {
            margin-right: 3.5em;
        }
        .tags {
            width: 1em;
            @apply text-5xl;
        }
    }
}
#artist_list {
    display: none;
    width: 0;
}
main.show_artists {
    @apply pr-0;
    #songlist_container {
        #artist_list {
            overflow: scroll;
            position: fixed;
            @apply pt-10 pb-10 block w-40 bg-amber-200 p-1 border-l-5 border-amber-400 top-10 right-0 bottom-10;
            overflow-wrap: break-word;
            li {
                @apply px-2;
                &.selected {
                    @apply bg-amber-600 text-amber-100;
                }
                &::after {
                    content: "";
                    display: block;
                    border-bottom: 2px inset #ffb900;
                    &::last-child {
                        display: none;
                    }
                }
            }
        }
    }
    #songlist .listed-song {
        @apply w-55;
        min-width: auto;
        .text {
            margin-right: 0;
            border-right: 0;
        }
        .artist {
            display: none;
        }
        .tags {
            display: none;
        }
    }
}
