{% extends "../base.html" %}
{% block mainClass %} song-list {% endblock %}
{% block title %} Songs {% endblock %} {% block
content %}
{{ "<scr" | safe }}{{ "ipt>" | safe}}
    window.addEventListener("alpine:init", () => {
      all_tags_by_name = {{ all_tags_by_name  | json | safe }};
      AllSongs.initialize({{ songs | json | safe }});
      Alpine.store('songlist').allSongs();
      StickySongList.init();
    });



{{ "</script>" | safe }}

<div id="bookmarked_container>" x-data="{songs: Bookmark.bookmarkedSongs()}">
    <template x-if="songs.length">
        <div id="bookmarked">
            <template x-for="song in songs" >
                <a :href="song.link"
                    :id="song.id"
                    class="listed-song"
                >
                    <div class="tags">
                        <span class="tag">💾</span>
                    </div>
                    <div class="text"  style="w-full">
                        <div class="title" x-text='song.title'></div>
                        <div class="artist" x-text='song.artist'></div>
                    </div>

                </a>
            </template>
        </div>
    </template>
</div>

<div id="which_category" class="hidden">
    Alle <span class="category"></span> Songs
</div>

<div id="songlist_container" x-data="">
    <div id="artist_list">
        <ul>
            <template x-for="artist in AllSongs.all_artists">
                <li x-text="artist" @click="ArtistList.filterByArtist($event.target)">
                </li>
            </template>
        </ul>
    </div>
    <div id="songlist">
        <template x-for="song in $store.songlist.visible" >
            <div
                :id="song.id"
                class="listed-song"
            >
                <div class="tags">
                    <template x-for="(tag, index) in song.tag_signs">
                        <a :href="'javascript:Slotmachine.selectTag(\'' +tag + '\')'"
                            class="tag"
                            :class="'pos' + (index+1)"
                            x-text="tag">
                        </a>
                    </template>
                </div>
                <a :href="song.link" class="text"  style="w-full">
                    <div class="title" x-text='song.title'></div>
                    <div class="artist" x-text='song.artist'></div>
                </a>
            </div>
        </template>
    </div>
</div>

{% include "_footer.html" %}
{% include "../overlays/module.html" %}
{% endblock content %}
