<div id="slot_machine" class="modal-content hidden">
    <div class="lever">
        <div class="axle"></div>
        <div id="slotmachine-lever-stick" class="stick">
            <div
                class="knob"
                x-data="{}"
                x-on:click.stop.prevent="Slotmachine.reroll()"
            ></div>
        </div>
    </div>
    <div class="casing">
        <div class="faceplate">
            <div id="reel-1" class="reel">
                <ul x-data>
                    <template x-for="tag in  $store.reels.first">
                        <li
                            x-text="tag"
                            x-on:click.stop.prevent="Slotmachine.selectTag(tag)"
                        ></li>
                    </template>
                </ul>
            </div>
            <div id="reel-2" class="reel">
                <ul x-data>
                    <template x-for="tag in $store.reels.second">
                        <li
                            x-text="tag"
                            x-on:click.stop.prevent="Slotmachine.selectTag(tag)"
                        ></li>
                    </template>
                </ul>
            </div>
            <div id="reel-3" class="reel">
                <ul x-data>
                    <template x-for="tag in $store.reels.third">
                        <li
                            x-text="tag"
                            x-on:click.stop.prevent="Slotmachine.selectTag(tag)"
                        ></li>
                    </template>
                </ul>
            </div>
        </div>
        <div class="headpiece">
            <h3>GEWINNE!</h3>
            <div class="sun n1">🌞</div>
            <div class="sun n2">🌞</div>
            <div class="sun n3">🌞</div>
            <div class="sun n4">🌞</div>
        </div>
    </div>
</div>
