<div id="overlay" class="hidden" x-data="" x-on:click="Overlay.hide()">
    <div id="shadow"></div>
    {% include "overlays/_admin_panel.html" %}

    <div id="modal" class="hidden" x-on:click.stop.prevent="true;">
        <div id="qr_code" data="{{qr_code_url}}" class="hidden modal-content">
            {{ qr_code_svg | safe }}
        </div>

        <div id="info_panel" class="hidden modal-content">
            <h2>Willkommen in unserer Jukebox App!</h2>
            <p>
                Suchen, stöbern, finden: hier findest du alle möglichen Lieder,
                die du den Künstlern vorne zurufen kannst, damit sie die endlich
                spielen. Aber immer dran denken: Wer sich ein Lied aussucht,
                muss es auch singen, ne?
            </p>
            <h3>Funktionen der Liederliste</h3>
            <p>
                Hier werden alle Lieder und ihre Kategorien angezeigt. Schon
                gespielte Songs sind leicht abgedunkelt, weil die hatten wir ja
                schon. Für später gespeicherte Songs sind ganz obem.
            </p>
            <h4>Im Toolbar:</h4>
            <ul class="toolbar-explanation">
                <li><span class="icon">🌍</span>Zeigt alle Lieder an.</li>
                <li>
                    <span class="icon">🔍</span>Sucht nach Titel und Künstlern
                </li>
                <li><span class="icon">🏁</span>Gespielte Lieder anzeigen</li>
                <li><span class="icon">🎺</span>Listet alle Künstler</li>
                <li><span class="icon">🌞</span>Gewinne Gewinne Gewinne!</li>
            </ul>
            <h3>Funktionen der Liedanzeige</h3>
            <h4>Im Toolbar:</h4>
            <ul class="toolbar-explanation">
                <li><span class="icon">🌍</span>Zurück zur Liederliste</li>
                <li><span class="icon">ᴬA</span>Liedtext zoomen</li>
                <li>
                    <span class="icon">QR</span>Liedtext mit Freunden teilen
                </li>
                <li><span class="icon">💾</span>Speichern für später</li>
                <li>
                    <span class="icon">C7</span>Akkorde zum Mitsingen anzeigen
                </li>
            </ul>
            <h3>Heutiger Gig</h3>

            <ul class="current_gi">
                <li>Name:&nbsp;<tt>{{ current_gig.name }}</tt></li>
                <li>Ort:&nbsp;<tt>{{current_gig.location }}</tt></li>
                <li>Obacht:&nbsp;<tt>{{current_gig.notes}}</tt></li>
            </ul>
        </div>
    </div>
    <div id="feeling_lucky" class="hidden modal-content">
        <h2>Feeling Lucky?</h2>
    </div>
    {% include "overlays/_slotmachine.html" %}
</div>
