@keyframes down-and-up {
    0%,
    100% {
        top: 26vmin;
        height: 30vmin;
    }
    80% {
        top: 46vmin;
        height: 10vmin;
    }
}

@keyframes wheelin {
    from {
        top: 0px;
    }
    to {
        top: -580vmin;
    }
}

#slot_machine {
    position: relative;
    aspect-ratio: 1/1;
    top: 20vh;
    margin: 5vmin;
    .lever {
        .axle {
            position: absolute;
            left: 73vmin;
            width: 15vmin;
            height: 19vmin;
            top: 45vmin;
            background-color: #ff0000;
            border: 2vmin outset #e0e000;
            border-radius: 0 80% 80% 0;
        }
        .stick {
            position: absolute;
            left: 80vmin;
            width: 5vmin;
            height: 30vmin;
            top: 26vmin;
            border: 2vmin outset #e0e000;
            background-color: #e0e000;
            border-radius: 0 0 2vmin 2vmin;
            .knob {
                position: absolute;
                top: -3vmin;
                left: -5.5vmin;
                width: 11vmin;
                height: 11vmin;
                background: black;
                border-radius: 50%;
                background: radial-gradient(circle at 30% 30%, #444, #000);
            }
            &.working {
                animation: 3s 1 alternate down-and-up;
            }
        }
    }
    .casing {
        .headpiece {
            position: absolute;
            background-color: #ff0000;
            border: 2vmin outset #e0e000;
            top: 0vmin;
            left: 4vmin;
            width: 65vmin;
            height: 20vmin;
            border-radius: 80% 80% 0 0;
            h3 {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                font-size: 7vmin;
                color: #e0e000;
                font-weight: bold;
                text-shadow: 0px 0px 2px white;
                text-align: center;
            }
            .sun {
                position: absolute;
                top: 16vmin;
                font-size: 12vmin;
                &.n1 {
                    left: 4vmin;
                }
                &.n2 {
                    left: 19vmin;
                }
                &.n3 {
                    left: 34vmin;
                }
                &.n4 {
                    left: 49vmin;
                }
            }
        }
        .faceplate {
            position: absolute;
            top: 15vmin;
            left: 0;
            width: 75vmin;
            aspect-ratio: 4/3;
            background-color: #ff0000;
            border: 2vmin outset #e0e000;
            .reel {
                box-sizing: content-box;
                list-style-type: none;
                width: 16vmin;
                height: 20vmin;
                padding: 0;
                border: 2vmin outset #e0e000;
                overflow: hidden;
                position: absolute;
                top: 21vmin;
                background: linear-gradient(#ccc 0%, #fff 40%, #aaa 100%);

                &#reel-1 {
                    left: 3vmin;
                }
                &#reel-2 {
                    left: 25vmin;
                }
                &#reel-3 {
                    left: 48vmin;
                }
                ul {
                    position: absolute;
                    top: 0;
                    &.wheelin {
                        animation-fill-mode: forwards;
                        animation: 4s 1 normal wheelin;
                        top: -580vmin;
                    }
                }
                &#reel-1 ul.wheelin {
                    animation-delay: 0ms;
                }
                &#reel-2 ul.wheelin {
                    animation-delay: 200ms;
                }
                &#reel-3 ul.wheelin {
                    animation-delay: 100ms;
                }
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10vmin;
                    width: 16vmin;
                    height: 20vmin;
                    border-top: 2px solid white;
                    border-bottom: 2px solid #888;
                    text-shadow:
                        -3px -3px 0px #e0e000,
                        3px -3px 0px #e0e000,
                        -3px 3px 0px #e0e000,
                        3px 3px 0px #e0e000;
                }
            }
        }
    }
}
