<footer id="footer" class="" x-data="{search: ''}">
    <a
        id="toggle_search"
        class="toolbar-button at-1-1"
        href="javascript:Toolbar.toggleSearchForm()"
        >🔍</a
    >
    <a
        id="toggle_show_artists"
        class="toolbar-button at-2-1"
        href="javascript:Toolbar.toggleArtistList()"
        >🎺</a
    >
    <a
        id="show_qr"
        href="javascript:Toolbar.showQrOverlay()"
        class="toolbar-button at-3-1"
        >QR</a
    >
    <a
        id="show_slot_machine"
        class="toolbar-button at-4-1"
        href="javascript:Toolbar.showSlotMachine()"
        >🎲</a
    >
    <a
        id="select_four_random_songs"
        class="toolbar-button at-5-1"
        href="javascript:Toolbar.selectSevenRandomSongs()"
        >🍀</a
    >
    <div
        id="search_form"
        class="hidden bg-amber-400"
        x-init="SongList.filterByName(Cookies.getValue('search'))"
    >
        <input
            id="search_input"
            type="text"
            name="search"
            enterkeyhint="search"
            placeholder="Find my love ..."
            x-model="search"
            @change="SongList.setSearchFilter($event.target)"
            ;
            class="flex-auto p-0.5 border-amber-900 border-2"
        />
    </div>
</footer>
