<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/static/jukebox.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/static/favicon_64x64.ico" />
        <script defer src="/static/jukebox.js"></script>
        <script defer src="/static/alpine_3.15.8.js"></script>
    </head>
    <body>
        <header
            x-data="{ menu: false }"
            class="z-10 h-10 text-[1.7em] align-middle bg-amber-200 fixed top-0 right-0 left-0"
        >
            <div class="h-10 text-center relative bg-amber-200 left-0">
                <span class="absolute left-0">
                    {% block upper_right_button %} 🔥 {% endblock %}
                </span>
                Jukebox
                <span
                    id="menu_trigger"
                    class="absolute right-0"
                    @click="menu = ! menu"
                >
                    &nbsp;≡&nbsp;
                </span>
            </div>
            <div
                x-show="menu"
                x-transition.duration.500ms
                class="bg-amber-200 pl-2 pr-2 border-l-2 border-b-2 float-right"
            >
                <label
                    x-data="{ show_chords: getCookieValue('showChords') == 'true'}"
                    x-init="console.log('showChords = ' + getCookieValue('showChords') + ', parsed as ' + (getCookieValue('showChords')== 'true'))"
                    ><input
                        type="checkbox"
                        name="chords"
                        x-model="show_chords"
                        class="hidden"
                        x-on:change="setCookieValue('showChords', $event.target.checked.toString());maybeApplyShowChords()"
                    />Akkorde anzeigen
                    <span x-show="show_chords">✅</span>
                    <span x-show="!show_chords">🚫</span>
                </label>
            </div>
        </header>
        <div id="placeholder_under_header" class="h-11"></div>
        <main class="">{% block content %}{% endblock content %}</main>
    </body>
</html>
