{% extends "core.html" %} {% block body_content %}
<header>
    <div id="plain_header">
        <span id="title"> {% block title %} Jukebox {% endblock %} </span>
    </div>
    <div id="detailed_header" class="hidden">
        <span class="before">Alle </span><span class="category"></span
        ><span class="after"> Songs</span>
    </div>
</header>
<main
    id="root_of_all_evil"
    class="{% block mainClass %}{% endblock %} zoom-{{zoom}}"
>
    {% block content %}{% endblock content %}
    <div class="footer_placeholder" />
</main>

{% endblock %}
