<div
    id="wheel_of_fortune"
    class="category_wof flex flex-row"
    x-init="setup_wof({{all_tags_by_name | json }})"
    x-data="$store.wof"
>
    <template x-show="false" x-for="category in visible_categories">
        <span
            x-bind:category-name="category.name"
            class="category"
            x-data="{something:'special'}"
        >
            <span
                x-on:click="$store.wof.filterListByCategory($event.target)"
                class="icon"
                x-bind:title="category.name"
                x-text="category.sign"
            />
        </>
    </template>
    <div class="reroll">
        <span class="icon"
            x-on:click="$store.wof.reshuffle()"
        >🎲</span>
    </div>
</div>
