<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/static/jukebox.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="/static/favicon_64x64.ico" />
        <link rel="manifest" href="/static/manifest.json" />
        <script defer src="/static/jukebox.js"></script>
        <script defer src="/static/alpine_3.15.8.js"></script>
    </head>
    <body>
        {% block body_content %} Loading ... {% endblock %}
    </body>
</html>
