{% extends "base.html" %} {% block content %}
<table class="listcontainer">
    <tr>
        <th>Name</th>
        <th>Artist</th>
    </tr>
    {% for song in songs %}
    <tr class="align-top" href="{{song.link}} ">

            <td class="align-top"><a href="{{song.link}} ">{{song.title}}</a></td>
            {% match song.artist %} {% when Some with (artist) %}
            <td class="align-top">{{ artist }}</td>
            {% else %}
            <td />
            {% endmatch %}
        </a>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
