{% extends "base.html" %}
{% block mainClass %} song-list {% endblock %}
{% block title %} Songs {% endblock %} {% block
content %}
{{ "<scr" | safe }}{{ "ipt>" | safe}}
  all_tags_by_name = {{ all_tags_by_name  | json | safe }};
{{ "</script>" | safe }}
<div id="songlist">
    {% for song in songs %}
    <div
        id="song-{{song.id}}"
        class="listed-song {% if song.played_at != "" %} already-played {% endif %} already-played "
        data-name="{{song.title.to_lowercase()}} -- {{song.artist.to_lowercase()}} "
        data-categories="{% for tag_sign in song.tag_signs %}|{{ tag_sign }}{% endfor %}|"
    >
        <a class="text" href="{{song.link}}">
            <div class="title">{{song.title}}</div>
            <div class="artist">{{ song.artist }}</div>
            {% if song.played_at != "" %}
                <div class="played">(gespielt @{{ &song.played_at | time_from_timestamp }})</s>
            {% endif %}
        </a>
        <div class="tags">
            {% for tag_sign in song.tag_signs %}
                <span class="tag">{{ tag_sign }}</span>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% include "_footer.song_list.html" %}
{% include "_overlay.html" %}
{% endblock content %}
