{% extends "base.html" %} {% block upper_right_button %}
<a href="/songs" class="button"> ↩ </a>
{% endblock %} {% block content %}
<div id="song" class="Song" x-init="maybeApplyShowChords()">
    <h1>{{song.title}}</h1>
    <h3>{{song.artist}}</h3>
    {% for block in song.document.blocks %} {% let newline = "\n" %} {% match
    block %} {% when Block::Part(song_part) %}
    <div class="chordpro part">
        <h4>{{song_part.name}}</h4>
        {% for line in song_part.lines %} {% let (has_lyrics, has_chords) =
        line.has_lyrics_has_chords() %}
        <div
            class="line {% if has_lyrics %} with-lyrics {% endif %} {% if has_chords %} with-chords {% endif %}"
        >
            {% for element in line.elements %}
            <span class="chords-and-lyrics-container">
                {% if let Some(lyrics) = element.lyrics %}
                    <span class="lyrics">{{lyrics}}</span>
                {% endif %}
                {% if let Some(chord) = element.chord %}
                    <span class="chord">{{chord}}</span>
                {% endif%}
            </span>
            </span>
            {% endfor %}
        </div>
        <!-- line -->
        {% endfor %}
    </div>
    <!-- chordpro part -->
    {% when Block::Tabulatur(lines) %}
    <div class="chordpro tabulatur">
        <h4>Tabulatur</h4>
        <pre class="">
{%- for line in lines %}{{- line }}{{ newline }}{% endfor %}</pre
        >
    </div>
    <!-- chordpro tabulatur -->
    {% when Block::Grid(lines) %}
    <div class="chordpro chord_grid">
        <h4>Grid</h4>
        <pre class="">
{%- for line in lines %}{{- line }}{{ newline }}{% endfor %}</pre
        >
    </div>
    <!-- chordpro chord_grid -->
    {% when Block::Unknown(lines) %}
    <div class="chordpro unkown">
        <pre class="">
{%- for line in lines %}{{- line }}{{ "\n" }}{% endfor %}</pre
        >
    </div>
    {% endmatch %} {% endfor %}
</div>
{% endblock content %}
