@import "tailwindcss";

.Song .part.part-verse .partname,
.Song .part.part-chorus .partname,
.Song .part.part-bridge .partname {
    display: none;
}

.Song .part.part-bridge {
    @apply ml-4 border-l-2;
}

.Song .part.part-chorus {
    @apply ml-8 border-l-2 italic;
}

.Song .artist {
    text-align: right;
}
.Song .tabulatur,
.Song .chord_grid {
    display: none;
}
.Song.showChords .tabulatur,
.Song.showChords .chord_grid {
    display: block;
    @apply bg-amber-100;
}
.Song .chordpro {
    @apply mb-2;
    .line {
        line-height: 1.2;
        @apply -indent-4 pl-5;
        * {
            @apply indent-0 pl-0;
        }
    }
}
/* fragments, chords and lyrics */
.Song .fragment {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.Song .chord {
    display: none;
}

.Song.showChords .with-chords .chord {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0; /* TODO: fix layout for inline chords */
    .signature {
        @apply font-mono bg-amber-200 whitespace-pre;
    }
}
.Song.showChords .with-chords .lyrics {
    position: relative;
    bottom: 0;
    left: 0; /* TODO: fix layout for inline chords */
}

/* Song list */
table {
    display: grid;
    grid-template-columns: repeat(100, max-content);
}
thead,
tbody,
tr {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}
td,
th {
    display: block;
}
caption {
    grid-column: 1 / -1;
}
td[cellspan="2"] {
    grid-column: span 2;
}
td[cellspan="3"] {
    grid-column: span 3;
}

#songlist.hidePlayedSongs .song.alreadyPlayed {
    display: none;
}

table.hidePlayedSongs td.column-played,
table.hidePlayedSongs th.column-played {
    display: none;
}

.category_wof {
    > * {
        display: flex;
        @apply flex-col;
        @apply border-2 w-3/12 m-3 text-center;
        border-style: outset;
    }
    > .category {
        .icon {
            font-size: 250%;
            @apply text-center aspect-square;
        }
        @apply p-3 pt-0 pb-0;
        border-style: outset;
    }
    > .reroll {
        @apply w-2/12;
    }
    @apply bg-amber-100;
}
