@import "tailwindcss";

/* Header */
header {
    @apply z-10 h-10 text-[1.7em] align-middle bg-amber-300 fixed top-0 left-0 w-full;
    #header_line {
        @apply h-10 text-center relative bg-amber-300 left-0;
        @apply shadow-amber-800/50 shadow-lg;

        #left_button {
            @apply absolute left-0 top-0;
        }
        #title {
            @apply px-6 line-clamp-1 whitespace-nowrap;
        }
        #menu_trigger {
            @apply absolute right-0 top-0;
        }
    }
}

/* Zoom for all pages */

main {
    &.zoom-0 {
        font-size: x-small;
    }
    &.zoom-1 {
        font-size: small;
    }
    &.zoom-2 {
        font-size: smaller;
    }
    &.zoom-3 {
        font-size: medium;
    }
    &.zoom-4 {
        font-size: large;
    }
    &.zoom-5 {
        font-size: larger;
    }
    &.zoom-6 {
        font-size: x-large;
    }
    &.zoom-7 {
        font-size: xx-large;
    }
}
/* Single Song */

main.single-song {
    @apply bg-amber-100 p-2;
}
.Song .part.part-verse .partname,
.Song .part.part-chorus .partname,
.Song .part.part-bridge .partname {
    display: none;
}

.Song .part.part-bridge {
    @apply ml-4 border-l-2;
}

.Song .part.part-chorus {
    @apply ml-8 border-l-2 italic;
}

.Song .artist {
    @apply text-amber-800 text-right text-sm;
}
.Song .tabulatur,
.Song .chord_grid {
    display: none;
}
.Song.showChords .tabulatur,
.Song.showChords .chord_grid {
    display: block;
    @apply bg-amber-100;
}
.Song .chordpro {
    @apply mb-2;
    .line {
        line-height: 1.2;
        @apply -indent-4 pl-5;
        * {
            @apply indent-0 pl-0;
        }
    }
}
/* fragments, chords and lyrics */
.Song .fragment {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.Song .chord {
    display: none;
}

.Song.showChords .with-chords .chord {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0; /* TODO: fix layout for inline chords */
    .signature {
        @apply font-mono bg-amber-200 whitespace-pre;
    }
}
.Song.showChords .with-chords .lyrics {
    position: relative;
    bottom: 0;
    left: 0; /* TODO: fix layout for inline chords */
}

/* Song list */

#songlist.hidePlayedSongs .song.alreadyPlayed {
    display: none;
}

.svg_container svg {
    width: 100vw;
}

/* Wheel of Fortune */

.category_wof {
    > * {
        display: flex;
        @apply flex-col;
        @apply border-2 w-3/12 m-3 text-center;
        border-style: outset;
    }
    > .category {
        .icon {
            font-size: 250%;
            @apply text-center aspect-square;
        }
        @apply p-3 pt-0 pb-0;
        border-style: outset;
    }
    > .reroll {
        @apply w-2/12;
    }
    @apply bg-amber-100;
}

main.song-list {
    @apply bg-amber-300;
}
div#songlist {
    @apply flex flex-row flex-wrap p-3;

    .listed-song {
        @apply grid grid-cols-5 grid-rows-1;
        @apply min-w-full md:min-w-fit;
        @apply bg-amber-100 shadow-amber-800/50 shadow-lg;
        @apply my-2 md:mx-3 p-2 rounded-md;

        .text {
            @apply col-start-1 col-span-4 row-start-1 row-span-1;
            .title {
                @apply font-bold;
            }
            .artist {
                @apply text-amber-800 text-sm;
            }
            .played {
                @apply text-amber-800 font-mono text-sm;
            }
        }

        .tags {
            direction: rtl;
            @apply col-start-5 col-span-1 row-span-2 row-start-1;
        }
    }
    .listed-song.hidden {
        display: none !important;
    }
}
