@import "tailwindcss";

body {
    @apply bg-amber-100;
    &.dark_background {
        @apply bg-amber-300;
    }
}
/* Header */
header {
    @apply text-[1.7em] sticky align-middle bg-amber-900 text-amber-100 top-0 left-0 w-full min-h-10;
    z-index: 3;
    div {
        @apply text-center bg-amber-900 left-0 right-0;
        @apply shadow-amber-800/50 shadow-lg;
        @apply px-6;
        position: absolute;
    }
    #header_line {
        #title {
        }
    }
    #which_category {
        .category {
            @apply bg-amber-600 border-amber-600 rounded-md px-2;
            border-style: outset;
        }
    }
}

/* Footer */

.footer_placeholder {
    @apply h-10;
}
footer {
    @apply fixed h-24 -bottom-12 left-0 right-0 w-full;
    @apply text-amber-100;
    @apply grid grid-cols-6 grid-rows-2;
    @apply align-middle text-center;
    font-size: medium;
    &.show_search_form {
        @apply bottom-0;
        .toolbar-button {
            @apply border-b-3;
        }
        #toggle_search.toolbar-button {
            @apply border-b-0;
        }
    }
    &.show_zoom_form {
        @apply bottom-0;
        .toolbar-button {
            @apply border-b-3;
        }
        #toggle_zoom.toolbar-button {
            @apply border-b-0;
        }
    }
    .toolbar-button {
        @apply rounded-lg rounded-b-none border-3 border-b-0 border-amber-900 bg-amber-800;
        @apply p-1;
        font-size: x-large;

        &.active {
            @apply bg-amber-600  text-amber-800;
        }
    }
    #search_form,
    #zoom_form {
        @apply col-start-1 col-span-6 row-start-2 p-1 bg-amber-600;
    }
    #search_form {
        input {
            @apply w-full m-0 p-0 px-2;
            @apply text-amber-100;
            @apply border;
            font-size: x-large;
        }
    }
    #zoom_form {
        @apply grid grid-cols-5 grid-rows-1;

        label {
            @apply col-start-1 col-span-1 row-start-2;
            font-size: medium;
        }
        #zoom-backdrop {
            @apply col-start-2 col-span-4 w-full h-full;
            img {
                @apply h-9 w-full;
            }
        }
        .zoom-levels {
            @apply col-start-2 col-span-4 grid grid-cols-7 grid-rows-1;
            a {
                font-size: x-small;

                &.current-level {
                    @apply mx-2 my-0 p-1 rounded-sm bg-amber-200 border-4 border-amber-400;
                    border-style: outset;
                }
            }
        }
    }
    #toggle_played_songs,
    #toggle_private_songs {
        @apply col-start-2 col-span-1 row-start-1;
    }
    #show_qr {
        @apply col-start-3 col-span-1 row-start-1;
    }
    #toggle_zoom_selector {
        @apply col-start-4 col-span-1 row-start-1;
    }
    #toggle_chords {
        @apply col-start-5 col-span-1 row-start-1;
    }
    #toggle_tags {
        @apply col-start-6 col-span-1 row-start-1;
    }
}

/* Zoom for all pages */
@import "./zoom/module.css";

/* Single Song */

/* Song list */
@import "./single_song/module.css";
@import "./song_list/module.css";
@import "./overlays/module.css";
